body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #333;
  color: #000000;
  text-align: center;
}

h1 {
  margin: 0;
}

.game-container {
  text-align: center;
  padding: 20px;
}
/*scoreboard section*/
.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
  padding: 15px 0;
  background-color: rgb(169, 169, 169);
  border-bottom: 2px solid #cc1818;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  height: 150px;
}

.score,
.best-score {
  background-color: #333;
  color: #fff;
  padding: 15px 30px;
  border-radius: 50%;
  font-size: 1.5rem;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 4px solid #fff;
}

.score {
  background-color: #4caf50;
}

.best-score {
  background-color: #f44336;
}
/*message section*/
.message {
  font-size: 2rem;
  margin: 20px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 2px solid #4caf50;
  border-top: 2px solid #f7b500;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
/*game card section*/
.card {
  background-color: rgb(169, 169, 169);
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 0 10px rgba(100, 149, 237, 0.4);
}

.card img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.card h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}
